.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 500;
  height: 18px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .tag {
    font-size: 14px;
    height: 25px;
  }
}
