.slideshow-container {
  position: relative;
  margin: auto;
}

.slideshow-image {
  width: 100%;
  height: 255px;
  border-radius: 10px;
  object-fit: cover;
}
.prev-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 80px;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .slideshow-image {
    height: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .slideshow-image {
    height: 415px;
  }
}
