.housing-cover {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.housing-title {
  margin: 20px 0 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
}
.housing-location {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .collapse-container {
    gap: 80px;
  }
}
/* Tablette et Desktop */
@media (min-width: 768px) {
  .collapse-container {
    flex-direction: row;
  }
}
