.housing-cover {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.housing-title {
  margin: 10px 0 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
}

.housing-location {
  font-size: 14px;
  font-weight: 500;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 30px;
}

.housing-tags {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
}

.housing-info {
  display: flex;
  flex-direction: column;
}

.host-rating-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1024px) {
  .housing-info {
    flex-direction: column;
    justify-content: space-between;
  }

  .host-rating-wrapper {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .collapse-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .housing-cover {
    margin-top: 50px;
  }
  .collapse-container {
    gap: 80px;
  }
  .housing-title {
    font-size: 24px;
  }
  .housing-location {
    font-size: 18px;
  }
}
