* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

/* Padding mobile pour le contenu (header + pages) */
.content-wrapper {
  padding: 0 15px;
}

/* Supprimer le padding sur les écrans plus larges */
@media screen and (min-width: 768px) {
  .content-wrapper {
    padding: 0 40px;
  }
}
