* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
}

.content-wrapper {
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    padding: 0 50px;
  }
}
