.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  margin: 0;
  color: white;
  font-size: 18px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.card-link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1024px) {
  .card {
    height: 250px;
  }

  .card-title {
    font-size: 18px;
    padding: 15px;
  }
}
