.host-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
}

.host-name {
  font-size: 12px;
  color: #ff6060;
  font-weight: 500;
}

.host-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .host-name {
    font-size: 16px;
  }

  .host-picture {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .host-container {
    margin-top: -100px;
  }
}
@media (min-width: 1024px) {
  .host-container {
    gap: 5px;
    margin-top: -110px;
  }
  @media (min-width: 1440px) {
    .host-name {
      font-size: 18px;
    }

    .host-picture {
      width: 64px;
      height: 64px;
    }
  }
}
