.collapse {
  margin: 5px 0;
  width: 100%;
}

.collapse-header {
  background-color: #ff6060;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.collapse-content {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  color: black;
  font-weight: 100;
  padding: 0 20px;
  font-size: 13px;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
}

.collapse-content.open {
  max-height: 500px;
  padding: 20px;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .collapse-header {
    font-size: 14px;
    font-weight: 700;
  }
  .collapse-content {
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .collapse-content {
    font-size: 16px;
    font-weight: 500;
  }
  .collapse-header {
    font-size: 18px;
    font-weight: 300;
  }
}
