.collapse {
  border: 1px solid #ff6060;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

.collapse-header {
  background-color: #ff6060;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.collapse-content {
  background-color: #ff6060;
  color: white;
  padding: 20px;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .collapse-header {
    font-size: 14px;
    font-weight: 700;
  }
}
