header {
  padding: 5px;
  margin-top: 20px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  height: 45px;
  width: auto;
}
.header-decor {
  width: 100%;
  margin-top: 20px;
  height: 110px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

/* Mobile */
@media screen and (max-width: 768px) {
  nav a {
    text-transform: uppercase;
    font-size: 12px;
  }
}
/* Desktop */
@media screen and (min-width: 1440px) {
  nav a {
    font-size: 24px;
  }
}
