header {
  padding: 5px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  height: 45px;
  width: auto;
}
.header-decor {
  width: 100%;
  margin-top: 20px;
  height: 110px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
}
