.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 110px;
  margin: 20px 0;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.5);
}

.bannertitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 48px;
  color: white;
  text-align: center;
  white-space: nowrap;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .bannertitle {
    font-size: 24px;
    left: 16px;
    transform: translateY(-50%);
    text-align: left;
    white-space: normal;
    max-width: 190px;
  }
}
/* Tablette */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bannertitle {
    font-size: 36px;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .bannertitle {
    font-size: 48px;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 223px;
  }
}
